---
layout: default
title: "Mercs : Top Developers for Hire by the week"
---

.section.hero.container-fluid
  .row
    h1.heading.text-center The best in Python<br class="visible-xs"> to get your project done.

  .container
    .profile.row
      .image.col-sm-4.col-md-3.col-xs-6
        img(src="/assets/images/img-vitaliy.jpg" alt="Vitaliy Podoba")
      .mobile-hire-cta.col-xs-6.visible-xs.text-center
        a.btn-mobile-cta(href="#")
          | Urgent Hire?
          br
          i.phone-icon
          br
          | Call us at
          br
          strong 408 373 5055
      .information.col-sm-8.col-md-9.col-xs-12
        .row
          .col-sm-5
            h2.name Vitaliy Podoba
            h3.title Top-notch Python coder
            h5.availability Available from 12/15/2014
          .col-sm-7.hidden-xs.text-right
            a.btn.btn-primary(href="#") Urgent Hire? Call us at 408 373 5055

        .row
          .skill-list.col-lg-12.text-center
            span.skill.python
              strong Python
              span 12 years
            span.skill.zope
              strong Zope
              span 8 years
            span.skill.plone
              strong Plone
              span 8 years
            span.skill.django
              strong Django
              span 7 years
            span.skill.php
              strong PHP
              span 13 years
            span.skill.html
              strong HTML
              span 14 years
            span.skill.css
              strong CSS
              span 14 years
            span.skill.javascript
              strong JS
              span 14 years
            span.skill.others.visible-xs-inline-block +5 other languages

section.container-fluid
  .container
    .profile.row
      .education.col-sm-3.col-xs-12
        strong EDUCATION
        .content.text-center
          .logo
            img(src="/assets/images/ivan-franko-university-lviv.png" alt="Ivan Franko National University of Lviv" width="140" height="150")
          span.university-name Ivan Franko National University of Lviv
      .quote.col-sm-9.col-xs-12
        i.quote-icon
        blockquote
          |
            I can help you make more profit and save your time by means of
            programming approaches and web technologies. Deeply care about your
            business related concerns while hiding all the technical stuff from
            your eyes.

    .past-clients.row
      .col-sm-3
        strong PAST CLIENTS:
      .col-sm-9
        p Martin Schoel, Quintagroup, Softformance, Choose Help, EU Business News, +4 others

section.projects
  .heading.text-center
    h2 Featured Projects
    h4 Handpicked Python Jobs by Vitaliy

  .container-fluid.project-carousel
    .wrapper.row
      article.project.project-1
        .container
          .row
            .content.col-sm-6.col-xs-12
              header
                h3.title CHOOSE HELP / MARTIN SCHOEL UNITED KINGDOM
                h5.summary Extensive
              .desc.hidden-xs
                p
                  |
                    Choosehelp is one of the leading Drug Rehab and Addiction Treatment
                    online resources in US. Working together with client on new portal
                    redesign, after more than 1 year of hard work, we were able to raise
                    context ads revenue 10x times, significantly improve side speed and
                    continuously increase visitors volume on the site.

                p
                  |
                    At this moment we, with ChooseHelp founders, are actively working on
                    new ChooseHelp country versions and adding more portal sections to
                    provide even more assistance to our users.

              .technologies.hidden-xs
                p Technology Used

                .list
                  span Python
                  span Django
                  span Zope
                  span HTML

            .image.col-sm-6.col-xs-12
              footer
                img(src="/assets/images/choosehelp_mobile.png" alt="")

      article.project.project-2
        .container
          .row
            .content.col-sm-6.col-xs-12
              header
                h3.title VIRTUAL NETWORK CONSULT GERMANY
                h5.summary Plone Development &amp;<br>Open Source Integration
              .desc.hidden-xs
                p
                  |
                    For Virtual Network Consult (VNC), Germany located Business Cloud
                    Integrator company, we developed prototype for their VNCPortal –
                    Cloud distributed solution for businesses. VNCportal aggregates
                    knowledge in one central place. With streams, casts and wikis it
                    provides the perfect tools to create, share and discuss ideas and
                    knowledge.

              .technologies.hidden-xs
                p Technology Used

                .list
                  span Python
                  span Django
                  span Zope

            .image.col-sm-6.col-xs-12
              footer
                img(src="/assets/images/vnc_mac.png" alt="")

      article.project.project-3
        .container
          .row
            .content.col-sm-6.col-xs-12
              header
                h3.title RAINBOWRIDERS DENMARK
                h5.summary Built on Plone 4 CMS via Diazo
              .desc.hidden-xs
                p
                  |
                    Overall project was a success and we were able to finish it
                    100% already after first round of client feedback!

              .technologies.hidden-xs
                p Technology Used

                .list
                  span Python
                  span Django
                  span Zope
                  span HTML

            .image.col-sm-6.col-xs-12
              footer
                img(src="/assets/images/rainbowMBP.png" alt="")
    .controls.visible-xs
      a.active(href="#carousel-slide-1")
      a(href="#carousel-slide-2")
      a(href="#carousel-slide-3")

section.testimonials
  .heading.text-center
    h2 Trusted by Clients Worldwide
    h4 We love working with the best. And they love working with us, too!

  .container
    .quotes.row
      .quote.col-sm-4.hidden-xs
        article.pull-left
          blockquote
            |
              Vitaly is an outstanding python developer with great Zope/Plone
              skills… what really adds to his potential is the ability to work
              well with top-level assignments and come up with his own detailed
              solutions.
          footer
            img.author-icon(src="/assets/images/img-martin-testimonial.jpg" alt="")
            span.author-name
              strong Martin Schoel
              | CEO – ChooseHelp.com
      .quote.col-sm-4.col-xs-12
        article
          blockquote
            |
              Vitaliy is a very thorough thinker, always first grasping the essence 
              of a requirement before going to work - thus delivering excellent, 
              quick, to-the-point results - plus valuable input on problems. 
              A pleasure to work with!
          footer
            img.author-icon(src="/assets/images/img-testimonial-sebastian.jpg" alt="")
            span.author-name
              strong Sebastian Klammer
              | Designer - VNC Switzerland
      .quote.col-sm-4.hidden-xs
        article.pull-right
          blockquote
            |
              It has been really a pleasure to work with Vitaliy. He is experienced, sharp 
              with project development deliverables and specified deadlines. He developed 
              our Plone-based website & executed the project with extra attention 
              to details. Would love to partner with Vitaliy again.
          footer
            img.author-icon(src="/assets/images/img-testimonial-laura.jpg" alt="")
            span.author-name
              strong Laura Palyusheva
              | Project Manager – rainbowriders.dk

section.about-section
  .container
    .row
      .content.col-lg-7
        h2.title
          |
            Why choose
            &nbsp;
          br.visible-xs
          img(src="/assets/images/white-mercs-logo.svg" alt="Mercs" width="170" height="36")
        p
          |
            We attract top-notch developers from around the world based on their coding skills and their successful experience working for US Companies. We screen them with rigorous tests and keep only the best.  We retain them by giving them the opportunity to earn six-digit annual incomes while working for prestigious US clients. You get access to highly skilled mercinaries that can solve all your software develoment problems, guanranteed.

section.features-section
  .container
    .row
      .feature.col-sm-4.col-xs-12
        article.pull-left
          header
            img.icon(src="/assets/images/icon-code.svg" alt="")
            span.heading
              h5.title TOP-NOTCH CODE
              h3.summary High Quality Developers
          p.desc
            |
              Our developers  have been selected based on their past successful experience
              working with the most demanding US Companies.

      .feature.col-sm-4.col-xs-12
        article
          header
            img.icon(src="/assets/images/icon-price.svg" alt="")
            span.heading
              h5.title NO-SHOCK BILLS
              h3.summary $2400/week<br> Satisfaction Guaranteed
          p.desc
            |
              We couple the flat weekly fee with a 2-week risk-free trial period. You only pay if you are absolutely satisfied
              with the developer we offered you.

      .feature.col-sm-4.col-xs-12
        article.pull-right
          header
            img.icon(src="/assets/images/icon-speech.svg" alt="")
            span.heading
              h5.title YOUR PEACE OF MIND
              h3.summary Excellent Communication
          p.desc
            |
              Our developers are great communicators, write and speak English fluently. Their work schedule enables a daily
              overlap with your team of at least 4 hrs (8-12pm EST-PST).

section.client-experience
  .container-fluid
    .row
      .image.col-sm-6.hidden-xs
      .content.col-sm-6
        p Our Client Experience:
        span Delightful. Simple. Amazing.
